h1 {
   margin-left: 60px;
   color: white;
   font-size: 100px;
   margin-top: 30px;
}
h2 {
   font-size: 50px;
   color: white;
   margin-left: 570px;
   margin-top: -160px;
}
h3 {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 35px;
}
body {
   background-color: #FFC0CB;
}
#header {
   background-color: #FF1493;
   border: 2px solid white;
   height: 200px;
   width: 1500px;
   margin-left: 160px;
}
.img-circle {
   margin-top: 20px;
   margin-right: 100px;
   border-radius: 50%;
   float: right;
}
table {
 margin-left: 160px;
 margin-top: 10px;
 height: 70px;
 font-size: 40px;
 color: white;
}
a {
   text-decoration: none;
   color: white;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
        transition: all 1s ease;
   font-size: 40;
}
a:hover {
   background-color: #FF1493;
               -webkit-transition: all 1s ease;
               -moz-transition: all 1s ease;
               transition: all 1s ease;
}

#about {
  color: white;
  margin-left: 570px;
  margin-top: -30px;
  background-color: #FF1493;
  width: 1090px;
  border: 2px solid white;
}
span {
  color: #FFC0CB;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
        transition: all 1s ease;
}

span:hover {
  color: #FF1493;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            transition: all 1s ease;
}
